{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Swiss Mobility API (B2P API)",
    "description" : "<p>The SBB Swiss Mobility API is an interface that you can integrate into your own distribution system. Timetable and fare details are made available to you via this interface. Initially, we are introducing SBB Swiss Mobilty API for Swiss domestic transport services, but we will be constantly developing it and adding new products and functions. There are two ways to use the service:</p><ul><li>Either integrate the SBB Swiss Mobility API as a full version, so that bookings are made directly via your distribution environment</li><li>Or use the Affiliate solution, with a link to the SBB webshop or SBB mobile</li></ul><p>Before you request access to our API, please get in contact with SBB Digital Affiliates by sending an email stating your intentions and goal. Please note that the purpose of our API is to generate sales turnover through it. Retrieving timetables and prices only is not permitted due to the Look2Book Ratio. Please check out our <a href=\"https://company.sbb.ch/en/sbb-as-business-partner/services/digital-sales-solutions/sales-solutions/sbb-swiss-mobility-api/sbb-swiss-mobility-api-gtc.html\">GTC</a> as well. On the right you can find the contact details and the links to the important websites.</p>",
    "contact" : {
      "name" : "SBB Digital Affiliates",
      "url" : "https://company.sbb.ch/en/sbb-as-business-partner/services/digital-sales-solutions/sales-solutions/sbb-swiss-mobility-api.html",
      "email" : "digitalsales@sbb.ch"
    },
    "license" : {
      "name" : "SBB",
      "url" : "https://b2p.app.sbb.ch"
    },
    "version" : "3.20.23"
  },
  "servers" : [ {
    "url" : "https://b2p.app.sbb.ch",
    "description" : "Mock (Production)"
  }, {
    "url" : "https://b2p-int.app.sbb.ch",
    "description" : "Mock (Integration)"
  }, {
    "url" : "http://localhost:8787",
    "description" : "Mock (Local)"
  } ],
  "paths" : {
    "/api/v2/prices" : {
      "post" : {
        "tags" : [ "Price" ],
        "description" : "Calculates the cheapest prices for the given parameters. This can be the regular or the saver fare if such is available.\nIf you are subscribed to our affiliation programm you have to include your ID as an URL parameter, for further information please contact digitalsales@sbb.ch. \nDetailed Information about fares and conditions you can find here: https://www.sbb.ch/en/station-services/services/customerdialogue/fare-conditions-for-your-journey.htm",
        "operationId" : "postPrices",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the translatable properties. Be aware the STATION names are given in its local language only. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The price-request information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PricesRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A list of prices for the trip",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Price"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No prices found for the trip",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Price"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Price"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Price"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/prebookings" : {
      "post" : {
        "tags" : [ "Prebooking" ],
        "description" : "The prebooked offer is exclusively reserved for 30 minutes for the future booking.",
        "operationId" : "postPrebooking",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The prebooking information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PrebookRequestV2"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The offer has been prebooked.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PrebookingResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "No entity found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/payments/b2b/sbb/invoice" : {
      "post" : {
        "tags" : [ "Payment" ],
        "description" : "Create B2B SBB CFF FFS invoice payment.",
        "operationId" : "createB2bSbbInvoice",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        } ],
        "requestBody" : {
          "description" : "The payment invoice request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePaymentInvoiceRequestV2"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The payment is created.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SubmitPaymentResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "No entity found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bookings" : {
      "get" : {
        "tags" : [ "Booking Data" ],
        "description" : "Gets the booking data items based on an online ticket id.",
        "operationId" : "determineBookingDataWithOnlineTicketId",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the response. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "onlineTicketId",
          "in" : "query",
          "description" : "The online ticket id. This is the id that is printed on the ticket.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 164676613230
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of booking data items based on the given online ticket id. This includes all booking data items that are part of the booking that contains the given online ticket id. See the documentation for the request based on the booking id for more information on the response.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No booking data items found based on the online ticket id.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Booking" ],
        "description" : "Book the pre-booked offer. B2P Partners have to make sure that payment was successfully executed prior to the booking operation.",
        "operationId" : "postBooking",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The pre-book IDs to be booked.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BookingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The prebookings have been booked.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Booking"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "No entity found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/refunds" : {
      "post" : {
        "tags" : [ "Refund Booking" ],
        "description" : "Book the refund offers, i.e. the refunds are performed according to the refund-offers. In the course of this, the relevant financial processes are executed too.",
        "operationId" : "postRefund",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        } ],
        "requestBody" : {
          "description" : "The request to book refunds.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RefundBookingsRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The refund offers have successfully been booked.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/RefundBooking"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "No entity found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/barcodes" : {
      "post" : {
        "tags" : [ "Barcode" ],
        "description" : "The barcode service generates a barcode from a collection of attributes which are passed by the caller. The attributes have a type and a semantic attached to them. Most of the attributes are optional. The barcode is generated on the basis of the attributes which are effectively passed. The validation of the barcode by the control application exploits the semantic of each attribute in order to compute the validity of the ticket.",
        "operationId" : "produceBarcode",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        } ],
        "requestBody" : {
          "description" : "The barcode request",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BarcodeRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A barcode with png image and raw data",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Barcode"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/bookings/{bookingId}" : {
      "get" : {
        "tags" : [ "Booking Data" ],
        "description" : "Gets the booking data items based on a booking id.",
        "operationId" : "determineBookingDataWithBookingId",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the response. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "bookingId",
          "in" : "path",
          "description" : "The booking id. It can be retrieved with the booking service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 318533600
        } ],
        "responses" : {
          "200" : {
            "description" : "The list of booking data items that are associated with the given booking id. In the response, for every passenger a separate booking data item will be contained. Moreover, a separate booking data item will be returned in case of a return journey, if the return journey is on a separate day than the outward journey.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No booking data items found based on the booking id.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BookingResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Booking" ],
        "description" : "Delete the booking. Can only be done up to 20 minutes after the booking has been created",
        "operationId" : "deleteBooking",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "bookingId",
          "in" : "path",
          "description" : "The booking ID to be deleted.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 200455
        } ],
        "responses" : {
          "204" : {
            "description" : "The booking has been deleted."
          },
          "404" : {
            "description" : "The booking could not be deleted. It either does not exist or was tried to be deleted after the timeout"
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Booking" ],
        "description" : "Update the booking. Currently only supports to commit the booking before the default 20 minutes",
        "operationId" : "commitBooking",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "bookingId",
          "in" : "path",
          "description" : "The booking ID to be updated.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 200455
        } ],
        "requestBody" : {
          "description" : "What to change on the booking",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateBookingRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "The booking has been updated."
          },
          "404" : {
            "description" : "The booking could not be updated. It either does not exist or was tried to be updated after it was committed"
          },
          "400" : {
            "description" : "Bad request"
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/service/status" : {
      "get" : {
        "tags" : [ "Service Status" ],
        "description" : "Service status check of the B2P system.",
        "operationId" : "check",
        "responses" : {
          "200" : {
            "description" : "The status check completed normally. The response body contains the current status.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SystemState"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/service/info" : {
      "get" : {
        "tags" : [ "Service Info" ],
        "description" : "Get service info messages. Used for example to announce planned maintenance.",
        "operationId" : "getAnnouncements",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ServiceInfo"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error"
          }
        }
      }
    },
    "/api/v2/bookings/{bookingId}/tickets/{ticketId}" : {
      "get" : {
        "tags" : [ "Booking Data" ],
        "description" : "Get the booked tickets. This operation can be called with the same bookingId multiple times to retrieve the ticket in different formats up to 1 year after booking the tickets.",
        "operationId" : "getTicket",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "The requested type of the ticket.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "application/pdf"
        }, {
          "name" : "bookingId",
          "in" : "path",
          "description" : "The booking ID. It can be retreived with the booking service.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 200455
        }, {
          "name" : "ticketId",
          "in" : "path",
          "description" : "The ticket ID that contains the document.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 4711
        } ],
        "responses" : {
          "200" : {
            "description" : "The booked ticket.",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              }
            }
          },
          "415" : {
            "description" : "Unsupported media type.",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              }
            }
          },
          "418" : {
            "description" : "I'm a teapot.",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "No entity found",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "application/pdf" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "text/html" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              },
              "application/vnd.apple.pkpass" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string",
                    "format" : "byte"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/trips" : {
      "get" : {
        "tags" : [ "Trip" ],
        "description" : "The trips service returns different trips for a specified origin and destination (and vias). The UIC codes of the origin and destination can be resolved using the locations service.",
        "operationId" : "getTrips",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the translatable properties. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "Scroll-Context",
          "in" : "header",
          "description" : "Based on a previous search-response, earlier or later connections for the same trip can be retrieved by scrolling back and forward (by a pointer-context). You must use the same GET request parameters as in the previous trips-request. Additionally either of the given values in the previous response-header for \"Scrollback-Context\" or \"Scrollforward-Context\" can be set for \"Scroll-Context\" to force optional scrolling.\nSee Trip::scrollChecksum",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "2%7COF%7CMT%C2%B511%C2%B5431359%C2%B5431359%C2%B5431662%C2%B5431662%C2%B50%C2%B50%C2%B5485%C2%B5431330%C2%B55%C2%B5-2147483630%C2%B50%C2%B51%C2%B52%7CPDH%C2%B577a7e8108112554ba5d46aeba769461f%7CRD%C2%B57102020%7CRT%C2%B5114900%7CUS%C2%B50"
        }, {
          "name" : "originId",
          "in" : "query",
          "description" : "The origin UIC code of the trip.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 8507000
        }, {
          "name" : "destinationId",
          "in" : "query",
          "description" : "The destination UIC code of the trip.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 8503000
        }, {
          "name" : "viaId",
          "in" : "query",
          "description" : "The UIC code of forced via(s) during the trip, relates to trainType (number of `,` in trainType +1 viaId).",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "The desired departure date (local date at origin of trip if arrivalDeparture=\"ED\" or at destination if arrivalDeparture=\"LA\"), relates to time.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          },
          "example" : "2020-11-27"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "The desired departure time (local time analog date), relates to date.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "10:22"
        }, {
          "name" : "arrivalDeparture",
          "in" : "query",
          "description" : "Search by earliest departure \"ED\" or latest arrival \"LA\".",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "ED",
            "default" : "ED",
            "enum" : [ "ED", "LA" ]
          }
        }, {
          "name" : "trainType",
          "in" : "query",
          "description" : "Allows restriction of TransportProduct-categories per PUBLIC_JOURNEY segment and relates to viaId. If nothing is set all TransportProduct-categories may result by default.\nFor a trip A(origin)--(segment0)--B(via0)--(segment1)--C(destination), the desired TransportProduct-categories for each segment may be restricted.\nUse ',' to separate different segments (via's) and ';' to separate multiple TransportProduct-categories like {ICE/TGV/RJ; EC/IC; IR; RE/D; BOAT; S/SN/R; BUS; CABLEWAY; ARZ/EXT; TRAMWAY} per segment, see [v580 de:Verkehrsmittelkategorien](https://github.com/SchweizerischeBundesbahnen/journey-service/blob/master/TransportMode.md).\nFor e.g. related to A-B-C above:\n- \"IR\" restrict to InterRegio for segment0 if viaId=B is given (or otherweise for the whole trip if viaId is not given at all)\n- \"EC/IC,IR\" restrict to EuroCity/InterCity for segment0, for segment1 (and perhaps other via's following) only InterRegio is considered where viaId=B must be set\n- \"EC/IC;ICE/TGV/RJ,IR;EC/IC\" restrict segment0 to EC/IC or ICE/TGV/RJ, segment1 to IR or EC/IC (and perhaps other via's following) where viaId=B must be set\n- \",IR\" no restriction for segment0, restrict segment1 to IR (and perhaps other via's following) where viaId=B must be set",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "IR;ICE/TGV/RJ,EC/IC"
        }, {
          "name" : "alternateMatch",
          "in" : "query",
          "description" : "Allows control over displaying of cancelled trips with an alternate connection.IRRELEVANT delivers as is (cancelled and alternate without enrichment of alternate)\nBOTH delivers both trips of 1:1 alternative (cancelled and alternate with enrichment of alternative)\nALTERNATE_ONLY delivers only the 1:1 alternate trips\nCANCELLED_ONLY delivers only the 1:1 cancelled trips",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "ALTERNATE_ONLY",
            "default" : "IRRELEVANT",
            "enum" : [ "IRRELEVANT", "BOTH", "ALTERNATE_ONLY", "CANCELLED_ONLY" ]
          }
        }, {
          "name" : "includeBefore",
          "in" : "query",
          "description" : "Indicate the minimum number of search results returned before related dateTime.",
          "required" : false,
          "schema" : {
            "maximum" : 6,
            "minimum" : 0,
            "type" : "integer",
            "default" : 0
          }
        }, {
          "name" : "includeAfter",
          "in" : "query",
          "description" : "Indicate the minimum number of search results returned after related dateTime.",
          "required" : false,
          "schema" : {
            "maximum" : 6,
            "minimum" : 0,
            "type" : "integer",
            "default" : 5
          }
        }, {
          "name" : "calculateEco",
          "in" : "query",
          "description" : "Create a simplified Trip::EcoBalance comparison object, based on SBB default car eco-params.",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : true
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of possible trips matching the specified locations and date/time.",
            "headers" : {
              "Scrollforward-Context" : {
                "description" : "Scroll reference for the current response to scroll forward.",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              },
              "Scrollback-Context" : {
                "description" : "Scroll reference for the current response to scroll backward.",
                "style" : "simple",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No matching trip was found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request by the client - see header for further information.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error - see header for further information.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/trips/{tripId}" : {
      "get" : {
        "tags" : [ "Trip" ],
        "description" : "The trips service calculates different trips for a specified reconstruction context. The external ids for origin and destination can be retrieved with the locations service.",
        "operationId" : "getTrips_1",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the translatable properties. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "tripId",
          "in" : "path",
          "description" : "Describing trip-context for this journey (do not think of a permanent 'tripId' because it is only a temporary snapshot on a trip, which might be changed by realtime aspects drastically any time).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "wQg8CgJWMRKRBSVDMiVCNkhLSQkJgFQlMjRBJTNEMSU0ME8lM0RCZXJuJTQwWCUzRDc0MzkxMwEZdFklM0Q0Njk0ODgzNCU0MEwlM0Q4NTA3MDAwJTQwYQE-EDI4JTQwOksAEEFhcmF1DUwgODA1MTI2OSU0CUwANwFaADYdTAwyMTEzPkwANDIwMjAwODIzMTAzNCUyGQ8BKywyNElSKzE2KysrJTIBHQAxCQcNBhBDMiVBNz7aAP6PAC4mATRaJUMzJUJDcmljaCtIQhHkBDU0AcgZ5BA3ODE3NzkwADNKMAEV5AgxMjMy5AAENTIJ5AQzN2bkAAxCNktDAexAQjYlMjNWRSUyMzAlMjNDRiUhNAULAEERFABNDQkMU0lDVAEfCCUyMwk6BEtDSkMAMEVSRyUyMzIlMjNISU4NOjhFQ0slMjMzNjYzOTQlN0MuCQAINDcyCRIJCQgwJTcFBBA2NTcwMQkZBDM4ASIBDSQtMjE0NzQ4MzYzCScoMjMa3gEKOAoSCgdNUygSB1NUQVRJT04SGSEemC0wOC0yM1QxMDozNDowMCswMjowMCIHUExBTk5FRAobCg4KAzEzMhU2FRsMKAEKHw1XDDAyMThKIQAIAgo6DSFBfxUhABoyeAAMMToxM0Z4ALgoAxIYEAMaBjAwMDAxMSICSVIqAjE2MgQyMTY5Kg5QVUJMSUNfSk9VUk5FWRrFAVZpADbhAAgxOjJSaQAVxgwyMTE5FaUZ5wAEFV1BYRUhPsYAADUhODo-ARwoBRIaCAMQBTbIABwzNzIEMjI2Nz7IAA=="
        }, {
          "name" : "originRedefined",
          "in" : "query",
          "description" : "DEPRECATED (ARUBA only): use [J-S v3/trips/by-redefinition](https://developer.sbb.ch/apis/journey-service/documentation) instead! Station (Stop::id2::value) between origin and destination on Trip represented by tripId. If given, make this Stop the new origin (for e.g. to start at a TariffBorder) **without refreshing rt**!",
          "required" : false,
          "deprecated" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 8500090
        }, {
          "name" : "destinationRedefined",
          "in" : "query",
          "description" : "DEPRECATED (ARUBA only): use [J-S v3/trips/by-redefinition](https://developer.sbb.ch/apis/journey-service/documentation) instead! Station (Stop::id2::value) between origin and destination on Trip represented by tripId. If given, make this Stop the new destination (for e.g. to end at a TariffBorder) **without refreshing rt**!",
          "required" : false,
          "deprecated" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 8500010
        }, {
          "name" : "alternateMatch",
          "in" : "query",
          "description" : "Allows control over displaying of cancelled trips with an alternate connection.IRRELEVANT delivers as is by hafas (cancelled and alternate without enrichment of alternate)\nBOTH delivers both trips of 1:1 alternative (cancelled and alternate with enrichment of alternative)\nALTERNATE_ONLY delivers only the 1:1 alternate trips\nCANCELLED_ONLY delivers only the 1:1 cancelled trips",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "ALTERNATE_ONLY",
            "default" : "IRRELEVANT",
            "enum" : [ "IRRELEVANT", "BOTH", "ALTERNATE_ONLY", "CANCELLED_ONLY" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The requested trip data.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No matching trip was found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request by the client - see header for further information.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error - see header for further information.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Trip"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/trip-offers" : {
      "get" : {
        "tags" : [ "Trip Offers" ],
        "description" : "The offers service calculates all possible offers for a specified tripId to our offers logic. For example we offer a day-pass if the fare is cheaper or not much more expensive than a regular point to point ticket.The offered fare is cached for max 15 minutes. Please note that under heavy system load the cache might expire even earlier.\nThe external ids for trips can be retrieved with the trips service.\nThere is no limitation for the number of passengers. We highly recommend not to ask for more than 5, especially if you send the request for different passenger types.\nPlease note that this service is not designed as a price information service and it has to be used only as part of the booking process. For pure price information please use the 'prices' service.\nIf you are subscribed to our affiliation programm you have to include your ID as an URL parameter, for further information please contact digitalsales@sbb.ch. \nDetailed Information about fares and conditions you can find here: https://www.sbb.ch/en/station-services/services/customerdialogue/fare-conditions-for-your-journey.htm",
        "operationId" : "getOffers",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tripId",
          "in" : "query",
          "description" : "The outward tripId for this journey.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          },
          "example" : "wQg8CgJWMRKRBSVDMiVCNkhLSQkJgFQlMjRBJTNEMSU0ME8lM0RCZXJuJTQwWCUzRDc0MzkxMwEZdFklM0Q0Njk0ODgzNCU0MEwlM0Q4NTA3MDAwJTQwYQE-EDI4JTQwOksAEEFhcmF1DUwgODA1MTI2OSU0CUwANwFaADYdTAwyMTEzPkwANDIwMjAwODIzMTAzNCUyGQ8BKywyNElSKzE2KysrJTIBHQAxCQcNBhBDMiVBNz7aAP6PAC4mATRaJUMzJUJDcmljaCtIQhHkBDU0AcgZ5BA3ODE3NzkwADNKMAEV5AgxMjMy5AAENTIJ5AQzN2bkAAxCNktDAexAQjYlMjNWRSUyMzAlMjNDRiUhNAULAEERFABNDQkMU0lDVAEfCCUyMwk6BEtDSkMAMEVSRyUyMzIlMjNISU4NOjhFQ0slMjMzNjYzOTQlN0MuCQAINDcyCRIJCQgwJTcFBBA2NTcwMQkZBDM4ASIBDSQtMjE0NzQ4MzYzCScoMjMa3gEKOAoSCgdNUygSB1NUQVRJT04SGSEemC0wOC0yM1QxMDozNDowMCswMjowMCIHUExBTk5FRAobCg4KAzEzMhU2FRsMKAEKHw1XDDAyMThKIQAIAgo6DSFBfxUhABoyeAAMMToxM0Z4ALgoAxIYEAMaBjAwMDAxMSICSVIqAjE2MgQyMTY5Kg5QVUJMSUNfSk9VUk5FWRrFAVZpADbhAAgxOjJSaQAVxgwyMTE5FaUZ5wAEFV1BYRUhPsYAADUhODo-ARwoBRIaCAMQBTbIABwzNzIEMjI2Nz7IAA=="
        }, {
          "name" : "returnTripId",
          "in" : "query",
          "description" : "The return tripId for this journey.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : ""
          },
          "example" : "wQg8CgJWMRKRBSVDMiVCNkhLSQkJgFQlMjRBJTNEMSU0ME8lM0RCZXJuJTQwWCUzRDc0MzkxMwEZdFklM0Q0Njk0ODgzNCU0MEwlM0Q4NTA3MDAwJTQwYQE-EDI4JTQwOksAEEFhcmF1DUwgODA1MTI2OSU0CUwANwFaADYdTAwyMTEzPkwANDIwMjAwODIzMTAzNCUyGQ8BKywyNElSKzE2KysrJTIBHQAxCQcNBhBDMiVBNz7aAP6PAC4mATRaJUMzJUJDcmljaCtIQhHkBDU0AcgZ5BA3ODE3NzkwADNKMAEV5AgxMjMy5AAENTIJ5AQzN2bkAAxCNktDAexAQjYlMjNWRSUyMzAlMjNDRiUhNAULAEERFABNDQkMU0lDVAEfCCUyMwk6BEtDSkMAMEVSRyUyMzIlMjNISU4NOjhFQ0slMjMzNjYzOTQlN0MuCQAINDcyCRIJCQgwJTcFBBA2NTcwMQkZBDM4ASIBDSQtMjE0NzQ4MzYzCScoMjMa3gEKOAoSCgdNUygSB1NUQVRJT04SGSEemC0wOC0yM1QxMDozNDowMCswMjowMCIHUExBTk5FRAobCg4KAzEzMhU2FRsMKAEKHw1XDDAyMThKIQAIAgo6DSFBfxUhABoyeAAMMToxM0Z4ALgoAxIYEAMaBjAwMDAxMSICSVIqAjE2MgQyMTY5Kg5QVUJMSUNfSk9VUk5FWRrFAVZpADbhAAgxOjJSaQAVxgwyMTE5FaUZ5wAEFV1BYRUhPsYAADUhODo-ARwoBRIaCAMQBTbIABwzNzIEMjI2Nz7IAA=="
        }, {
          "name" : "passengers",
          "in" : "query",
          "description" : "The passengers id, age and reduction {ga-1st, ga-2nd, half-fare, junior-card, child-card, none, swiss-half-fare-card, swiss-travel-pass}. (Can be multiple). Example: 'paxa;42;half-fare'. At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "dogs",
          "in" : "query",
          "description" : "The dogs id (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "DogA"
        }, {
          "name" : "bikes",
          "in" : "query",
          "description" : "The bikes id (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "BikeA"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "The desired product id for the offer.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 2361
        }, {
          "name" : "ipExtensionTicket",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-offer-options-disable-business-filters",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-offer-options-ip-extension-ticket",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of offers.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No offer found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/stations" : {
      "get" : {
        "tags" : [ "Location" ],
        "summary" : "DEPRECATED: this API will be discontinued after 7.9.2023 and only be available on [J-S `v3/stop-places`](https://developer.sbb.ch/apis/journey-service/documentation)!",
        "description" : "Get all STATIONs known resp. actrively routed. Provides a download of all transferable STATIONs known and routed by Hafas and managed by DiDok (UIC source) resp. INFO+ (planned routes).\nThere are more than 65'000 such STATIONs, therefore a paging mechanism is provided to step through all potential hits.\nAll stations will be updated on a weekly base, because of rare changes, please do not use this service more frequently!",
        "operationId" : "getStations",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the translatable properties. Be aware the STATION names are given in its local language only. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "country",
          "in" : "query",
          "description" : "Optionally restrict STATION hits to a specific country by 2-letter format ISO 3166 (see https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "example" : "CH"
        }, {
          "name" : "Page-size",
          "in" : "query",
          "description" : "Page-size of returned STATIONs per page (10..1000).",
          "required" : false,
          "schema" : {
            "maximum" : 1000,
            "minimum" : 10,
            "type" : "integer",
            "example" : 300,
            "default" : 300
          }
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "Page-number to return starting at 0 until StationsPage::hasNextPage becomes false within [0..*].",
          "required" : false,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "example" : 0,
            "default" : 0
          }
        }, {
          "name" : "order",
          "in" : "query",
          "description" : "Sort order of locations, alphabetically by \"NAME\" or by \"WEIGHT\".",
          "required" : false,
          "schema" : {
            "type" : "string",
            "enum" : [ "NAME", "WEIGHT" ]
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "Validity date of Station (depends on journey-planner period and data-management at SBB, defaults to TODAY).",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date"
          },
          "example" : "2020-11-27"
        } ],
        "responses" : {
          "200" : {
            "description" : "The page with locations",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/StationsPage"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "404" : {
            "description" : "Resource does not exist",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/api/route-offers" : {
      "get" : {
        "tags" : [ "Route Offers" ],
        "description" : "The route offers service calculates all possible offers for a specified origin and destination according to our offers logic. For example we offer a day-pass if the fare is cheaper or not much more expensive than a regular point to point ticket.The offered fare is cached for max 15 Minutes. Please note that under heavy system load the cache might expire even earlier.\nThe external ids for origin and destination can be retrieved with the locations service.\nThere is no limitation for the number of passengers. We highly recommend not to ask for more than 5, especially if you send the request for different passenger types.\nPlease note that this service is not designed as a price information service and it has to be used only as part of the booking process. For pure price information please use the 'prices' service.\nIf you are subscribed to our affiliation programm you have to include your ID as an URL parameter, for further information please contact digitalsales@sbb.ch. \nDetailed Information about fares and conditions you can find here: https://www.sbb.ch/en/station-services/services/customerdialogue/fare-conditions-for-your-journey.htm",
        "operationId" : "getRouteOffers",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "originId",
          "in" : "query",
          "description" : "The id of the origin.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 8507000
        }, {
          "name" : "destinationId",
          "in" : "query",
          "description" : "The id of the destination.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 8503000
        }, {
          "name" : "viaId",
          "in" : "query",
          "description" : "The id of the via.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int32"
            }
          }
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "The desired departure date.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          },
          "example" : "2020-11-27"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "The desired departure time (timezone \"Europe/Zurich\").",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "10:22"
        }, {
          "name" : "passengers",
          "in" : "query",
          "description" : "The passengers id, age and reduction {ga-1st, ga-2nd, half-fare, junior-card, child-card, none, swiss-half-fare-card, swiss-travel-pass} (Can be multiple). Example: 'paxa;42;half-fare'. At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "paxa;42;half-fare"
        }, {
          "name" : "dogs",
          "in" : "query",
          "description" : "The dogs ids (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "DogA"
        }, {
          "name" : "bikes",
          "in" : "query",
          "description" : "The bikes ids (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "BikeA"
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "The desired product id for the offer.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 2361
        }, {
          "name" : "ipExtensionTicket",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-offer-options-disable-business-filters",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        }, {
          "name" : "x-offer-options-ip-extension-ticket",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of offers.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No offer found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/refund-offers" : {
      "get" : {
        "tags" : [ "Refund Offer" ],
        "description" : "The service calculates all refund offers for one or multiple bookings. These refund offers are valid only for 20 minutes.",
        "operationId" : "getRefundOffers",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "refundReasonId",
          "in" : "query",
          "description" : "The refund reason id used to determine the refund offers. Currently the only supported reason id is 'NICHT_BENUTZT'.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "NICHT_BENUTZT"
          },
          "example" : "NICHT_BENUTZT"
        }, {
          "name" : "ticketIds",
          "in" : "query",
          "description" : "The ticket ids used to identify the tickets/bookings for which you want to determine the refund offers. These ticket ids are returned by the BookingDataService.",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "integer",
              "format" : "int64"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of refund offers.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundOfferResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No refund offer found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RefundOfferResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/products" : {
      "get" : {
        "tags" : [ "Product" ],
        "description" : "The products service calculates all possible products available for sale in the specified context",
        "operationId" : "getProducts",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "de",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of products.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No product found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/{productId}" : {
      "get" : {
        "tags" : [ "Product" ],
        "description" : "Retrieve product details for the given productId.",
        "operationId" : "getProduct",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "de",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "productId",
          "in" : "path",
          "description" : "The product id. It can be retrieved with the products service.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 125
        } ],
        "responses" : {
          "200" : {
            "description" : "Details and parameters for the given productId.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "404" : {
            "description" : "Product not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/api/product-offers/{productId}" : {
      "get" : {
        "tags" : [ "Product Offers" ],
        "description" : "Calculate all the possible offers for a given product for individual passengers.The offered fare is cached for max 15 Minutes. Please note that under heavy system load the cache might expire even earlier.\nThere is no limitation for the number of passengers. We highly recommend not to ask for more than 5, especially if you send the request for different passenger types.\nPlease note that this service is not designed as a price information service and it has to be used only as part of the booking process. For pure price information please use the 'prices' service.\nIf you are subscribed to our affiliation programm you have to include your ID as an URL parameter, for further information please contact digitalsales@sbb.ch. \nDetailed Information about fares and conditions you can find here: https://www.sbb.ch/en/station-services/services/customerdialogue/fare-conditions-for-your-journey.htm",
        "operationId" : "getProductOffers",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "validFromDate",
          "in" : "query",
          "description" : "The desired start date of validity.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "format" : "date"
          },
          "example" : "2020-11-27"
        }, {
          "name" : "validFromTime",
          "in" : "query",
          "description" : "The desired start time of validity.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          },
          "example" : "10:22"
        }, {
          "name" : "passengers",
          "in" : "query",
          "description" : "The passengers id, age and reduction {ga-1st, ga-2nd, half-fare, junior-card, child-card, none, swiss-half-fare-card, swiss-travel-pass} (Can be multiple). Example: 'paxa;42;half-fare'. At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "paxa;42;half-fare"
        }, {
          "name" : "dogs",
          "in" : "query",
          "description" : "The dogs ids (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "DogA"
        }, {
          "name" : "bikes",
          "in" : "query",
          "description" : "The bikes ids (Can be multiple). At least one of passengers or dogs or bikes must be set.",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "example" : "BikeA"
        }, {
          "name" : "productId",
          "in" : "path",
          "description" : "The productId id to submit.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : 125
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of offers",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No offer found.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OfferBundle"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/networks" : {
      "get" : {
        "tags" : [ "Network" ],
        "description" : "A list of all transportation networks / authorities in CH.",
        "operationId" : "getNetworks",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of all networks.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Network"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No networks found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/networks/{networkId}" : {
      "get" : {
        "tags" : [ "Network" ],
        "description" : "Get detailed information about a transportation network incl. all zones.",
        "operationId" : "getNetwork",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "networkId",
          "in" : "path",
          "description" : "The network id to fetch additional information for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 470
        } ],
        "responses" : {
          "200" : {
            "description" : "Details and zones for the given networkId.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Network"
                }
              }
            }
          },
          "404" : {
            "description" : "Network not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/networks/{networkId}/zones" : {
      "get" : {
        "tags" : [ "Network" ],
        "description" : "Get all zones of a given transportation network / authority.",
        "operationId" : "getZonesOfNetwork",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "networkId",
          "in" : "path",
          "description" : "The network id to fetch the zones for.",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 470
        } ],
        "responses" : {
          "200" : {
            "description" : "Zones for the given networkId.",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Zone"
                  }
                }
              }
            }
          },
          "404" : {
            "description" : "Network or Zones not found",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/locations" : {
      "get" : {
        "tags" : [ "Location" ],
        "description" : "The locations service can be used to perform a pattern-based search to retrieve a list of matching locations (resp. concrete STATION's) for journey planning.",
        "operationId" : "getLocations",
        "parameters" : [ {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the translatable properties. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Expression (min. 2 characters) to search for locations (STATION's).",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bern"
        } ],
        "responses" : {
          "200" : {
            "description" : "The location",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No location found"
          },
          "400" : {
            "description" : "Input could not be processed (too short or wrong)",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal server error",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/B2PProblem"
                }
              }
            }
          }
        }
      }
    },
    "/api/group-trip-offers" : {
      "get" : {
        "tags" : [ "Trip Offers" ],
        "description" : "The group trip offers service calculates all possible offers for a specified tripId to our offers logic. For example we offer a group day-pass if the fare is cheaper or not much more expensive than a regular group point to point ticket.The offered fare is cached for max 15 minutes. Please note that under heavy system load the cache might expire even earlier.\nThe external ids for trips can be retrieved with the trips service.\nGroup trips must have at least 10 passengers in total. There is no upper limitation for the number of passengers and passenger groups, but we recommend to only send one group per used customer segment code.\nPlease note that this service is not designed as a price information service and it has to be used only as part of the booking process. Getting pure price information is currently not supported for group trips.\nAffiliate links are not available for group trips. \nDetailed Information about fares and conditions you can find here: https://www.sbb.ch/en/station-services/services/customerdialogue/fare-conditions-for-your-journey.htm",
        "operationId" : "getGroupOffers",
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language of the ticket. Available language codes are: de,fr,it,en",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "en",
            "default" : "en",
            "enum" : [ "de", "fr", "it", "en" ]
          }
        }, {
          "name" : "x-conversation-id",
          "in" : "header",
          "description" : "The Conversation Id of the current business process.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "cafebabe-ba55-c001-d00d-decaf0bad"
        }, {
          "name" : "x-contract-id",
          "in" : "header",
          "description" : "The contract ID of the partner.",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "ACP1024"
        }, {
          "name" : "timeshift",
          "in" : "header",
          "description" : "Timeshift - A java.time.Duration Ex. P2DT3H (2 days and 3 hours)",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tripId",
          "in" : "query",
          "description" : "The outward tripId for this journey.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "default" : ""
          },
          "example" : "wQg8CgJWMRKRBSVDMiVCNkhLSQkJgFQlMjRBJTNEMSU0ME8lM0RCZXJuJTQwWCUzRDc0MzkxMwEZdFklM0Q0Njk0ODgzNCU0MEwlM0Q4NTA3MDAwJTQwYQE-EDI4JTQwOksAEEFhcmF1DUwgODA1MTI2OSU0CUwANwFaADYdTAwyMTEzPkwANDIwMjAwODIzMTAzNCUyGQ8BKywyNElSKzE2KysrJTIBHQAxCQcNBhBDMiVBNz7aAP6PAC4mATRaJUMzJUJDcmljaCtIQhHkBDU0AcgZ5BA3ODE3NzkwADNKMAEV5AgxMjMy5AAENTIJ5AQzN2bkAAxCNktDAexAQjYlMjNWRSUyMzAlMjNDRiUhNAULAEERFABNDQkMU0lDVAEfCCUyMwk6BEtDSkMAMEVSRyUyMzIlMjNISU4NOjhFQ0slMjMzNjYzOTQlN0MuCQAINDcyCRIJCQgwJTcFBBA2NTcwMQkZBDM4ASIBDSQtMjE0NzQ4MzYzCScoMjMa3gEKOAoSCgdNUygSB1NUQVRJT04SGSEemC0wOC0yM1QxMDozNDowMCswMjowMCIHUExBTk5FRAobCg4KAzEzMhU2FRsMKAEKHw1XDDAyMThKIQAIAgo6DSFBfxUhABoyeAAMMToxM0Z4ALgoAxIYEAMaBjAwMDAxMSICSVIqAjE2MgQyMTY5Kg5QVUJMSUNfSk9VUk5FWRrFAVZpADbhAAgxOjJSaQAVxgwyMTE5FaUZ5wAEFV1BYRUhPsYAADUhODo-ARwoBRIaCAMQBTbIABwzNzIEMjI2Nz7IAA=="
        }, {
          "name" : "returnTripId",
          "in" : "query",
          "description" : "The return tripId for this journey.",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : ""
          },
          "example" : "wQg8CgJWMRKRBSVDMiVCNkhLSQkJgFQlMjRBJTNEMSU0ME8lM0RCZXJuJTQwWCUzRDc0MzkxMwEZdFklM0Q0Njk0ODgzNCU0MEwlM0Q4NTA3MDAwJTQwYQE-EDI4JTQwOksAEEFhcmF1DUwgODA1MTI2OSU0CUwANwFaADYdTAwyMTEzPkwANDIwMjAwODIzMTAzNCUyGQ8BKywyNElSKzE2KysrJTIBHQAxCQcNBhBDMiVBNz7aAP6PAC4mATRaJUMzJUJDcmljaCtIQhHkBDU0AcgZ5BA3ODE3NzkwADNKMAEV5AgxMjMy5AAENTIJ5AQzN2bkAAxCNktDAexAQjYlMjNWRSUyMzAlMjNDRiUhNAULAEERFABNDQkMU0lDVAEfCCUyMwk6BEtDSkMAMEVSRyUyMzIlMjNISU4NOjhFQ0slMjMzNjYzOTQlN0MuCQAINDcyCRIJCQgwJTcFBBA2NTcwMQkZBDM4ASIBDSQtMjE0NzQ4MzYzCScoMjMa3gEKOAoSCgdNUygSB1NUQVRJT04SGSEemC0wOC0yM1QxMDozNDowMCswMjowMCIHUExBTk5FRAobCg4KAzEzMhU2FRsMKAEKHw1XDDAyMThKIQAIAgo6DSFBfxUhABoyeAAMMToxM0Z4ALgoAxIYEAMaBjAwMDAxMSICSVIqAjE2MgQyMTY5Kg5QVUJMSUNfSk9VUk5FWRrFAVZpADbhAAgxOjJSaQAVxgwyMTE5FaUZ5wAEFV1BYRUhPsYAADUhODo-ARwoBRIaCAMQBTbIABwzNzIEMjI2Nz7IAA=="
        }, {
          "name" : "passengerGroups",
          "in" : "query",
          "description" : "The passengers of the group with count and customer segment code {GRUPPE_PERSON_25PLUS, GRUPPE_HALBTAX, GA_1_KL, GA_2_KL, GRUPPE_PERSON_6-25, GRUPPE_KIND_0-6_GRATIS, HUND}. (Can be multiple). Example: '10;GRUPPE_PERSON_25PLUS'. Use the Products service to get a definition of the customer segments.",
          "required" : true,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "productId",
          "in" : "query",
          "description" : "The desired product id for the offer.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          },
          "example" : 196
        }, {
[...]
